<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>moveForward(speed:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>让mBot向前运动。speed：运动的速度，范围为0～255。</string>
				<key>Title</key>
				<string>moveForward(speed:)</string>
			</dict>
		</dict>
		<key>moveBackward(speed:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>让mBot向后运动。speed：运动的速度，范围为0～255。</string>
				<key>Title</key>
				<string>moveBackward(speed:)</string>
			</dict>
		</dict>
		<key>moveLeft(speed:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>让mBot向左转动。speed：运动的速度，范围为0～255。</string>
				<key>Title</key>
				<string>moveLeft(speed:)</string>
			</dict>
		</dict>
		<key>moveRight(speed:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>让mBot向右转动。speed：运动的速度，范围为0～255。</string>
				<key>Title</key>
				<string>moveRight(speed:)</string>
			</dict>
		</dict>
		<key>turnLED(item:color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>让mBot对应的LED灯亮起。item：0为只左灯亮，1为只右灯亮，2为全部灯亮；颜色：可选择多种颜色。</string>
				<key>Title</key>
				<string>turnLED(item:color:)</string>
			</dict>
		</dict>
		<key>playSound(tone: MusicNotePitch, meter: MusicNoteDuration)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>让mBot蜂鸣器演奏。tone：.c2~.c8；meter：全音为.whole，半音为.half，四分为 .quarter ，八分为.eighth，十六分为.sixteenth。</string>
				<key>Title</key>
				<string>playSound(tone: MusicNotePitch, meter: MusicNoteDuration)</string>
			</dict>
		</dict>
        <key>light</key>
        <dict>
            <key>_LOCALIZABLE_</key>
            <dict>
                <key>Definition</key>
                <string>探测光线传感器的值，返回光线强度。范围为0～980，光强越大数值越大。</string>
                <key>Title</key>
                <string>light</string>
            </dict>
        </dict>
        <key>ultrasonic</key>
        <dict>
            <key>_LOCALIZABLE_</key>
            <dict>
                <key>Definition</key>
                <string>探测超声波传感器的值，返回以厘米为单位的距离读数。</string>
                <key>Title</key>
                <string>ultrasonic</string>
            </dict>
        </dict>
        <key>line</key>
        <dict>
            <key>_LOCALIZABLE_</key>
            <dict>
                <key>Definition</key>
                <string>探测巡线传感器的值，返回状态值。返回值：0为1、2灯都在黑线内；1为1灯在黑线，2灯在白线；2为1灯在白线，2灯在黑线；3为1、2灯都在白线上。</string>
                <key>Title</key>
                <string>line</string>
            </dict>
        </dict>
        <key>sendInfraredMessage(message:)</key>
        <dict>
            <key>_LOCALIZABLE_</key>
            <dict>
                <key>Definition</key>
                <string>可以操作mBot发送任意红外字符串。字符串要加""。</string>
                <key>Title</key>
                <string>sendInfraredMessage(message:)</string>
            </dict>
        </dict>
        <key>stop()</key>
        <dict>
            <key>_LOCALIZABLE_</key>
            <dict>
                <key>Definition</key>
                <string>让mBot停止运动。</string>
                <key>Title</key>
                <string>stop()</string>
            </dict>
        </dict>
        <key>wait(duration:)</key>
        <dict>
            <key>_LOCALIZABLE_</key>
            <dict>
                <key>Definition</key>
                <string>等待。duration：等待的时长，单位为秒。</string>
                <key>Title</key>
                <string>wait(duration:)</string>
            </dict>
        </dict>
	</dict>
</dict>
</plist>
